# ==========================================
# Reporting API - Local Environment Setup
# ==========================================

# JWT Configuration
JWT_ISSUER=speedyteller
JWT_SECRET=jhG9F82nASLdnU8y52wEwQ9pG8Rp4y8nSY9Jl5p2qL29TsVfQsUQ9eB9HnwUj5J8

# Postgres Credentials
POSTGRES_HOST=localhost
POSTGRES_DATABASE=speedyteller
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432