services:
  reporting_db:
    container_name: "reporting_db"
    image: "postgres:16.2"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: speedyteller
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./docker/postgres.conf:/usr/local/etc/postgres/postgres.conf

  reporting_api:
    build:
      context: .
    image: docker.io/davidvasconcelos/reporting_api:latest
    pull_policy: always
    ports:
      - "8080:8080"
    depends_on:
      - reporting_db
    environment:
      JDBC_DATABASE_URL: jdbc:postgresql://reporting_db:5432/speedyteller?currentSchema=speedyteller
      POSTGRES_USERNAME: postgres
      POSTGRES_PASSWORD: postgres
      JWT_SECRET: ${JWT_SECRET}
      JWT_ISSUER: ${JWT_ISSUER}

volumes:
  postgres-data: